$darkBlue: #161C35;
$lazure: #00D5C3;

@mixin forMainWrapper () {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 65px;
  background: $darkBlue;
  .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.main-wrapper {
  @include forMainWrapper();
}

.main-menu > ul {
  li {
    display: inline-block;
    &:last-child {
      a {
        margin-right: 0;
      }
    }

    a {
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1px;
      margin-right: 15px;
      font-family: 'Roboto', sans-serif;
      &::after {
        content: "";
        width: 10%;
        height: 3px;
        background: $lazure;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 25px;
        opacity: 0;
        transition-duration: 0.3s;
      }
      &:hover::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

