* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: white;
  padding: 25px 0 0 30px;
  margin-bottom: 35px;
  position: relative; }
  h1::before {
    content: "";
    top: 0;
    left: 0;
    width: 115px;
    height: 5px;
    position: absolute;
    background: #00D5C3; }
  h1::after {
    content: "";
    top: 0;
    left: 0;
    width: 115px;
    height: 5px;
    position: absolute;
    background: #00D5C3;
    height: 115px;
    width: 5px; }

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #444444;
  text-align: center;
  text-transform: uppercase; }
  h2 span {
    position: relative; }
    h2 span::after {
      content: "";
      position: absolute;
      background: #161C35;
      height: 2px;
      width: 40%;
      transform: translateX(-50%);
      left: 50%;
      top: 120%; }

h3 {
  font-size: 24px;
  font-weight: 600; }

.services, .works, .team, .blog, .contact, footer {
  padding: 60px 0; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  height: 65px;
  background: #161C35;
  position: sticky;
  top: 0;
  z-index: 3; }
  header .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }

.main-wrapper {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px; }

.main-menu > ul li {
  display: inline-block; }
  .main-menu > ul li:last-child a {
    margin-right: 0; }
  .main-menu > ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif; }
    .main-menu > ul li a::after {
      content: "";
      width: 10%;
      height: 3px;
      background: #00D5C3;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 25px;
      opacity: 0;
      transition-duration: 0.3s; }
    .main-menu > ul li a:hover::after {
      width: 100%;
      opacity: 1; }

.main-board {
  position: relative;
  height: 500px;
  background: url(../src/bg.jpg) 50% -50px fixed;
  background-size: cover; }
  .main-board::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(33, 42, 73, 0.6); }
  .main-board .main-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center; }
    .main-board .main-wrapper .main-board__left-block {
      width: 50%; }
      .main-board .main-wrapper .main-board__left-block > div:first-of-type {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 45px; }
      .main-board .main-wrapper .main-board__left-block > div:last-of-type {
        display: flex; }
      .main-board .main-wrapper .main-board__left-block .main-board__button-link {
        display: flex;
        align-items: center;
        width: 165px;
        height: 50px;
        border: 1px solid #00D5C3;
        border-radius: 0 5px 0 5px;
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        transition-duration: 0.3s; }
        .main-board .main-wrapper .main-board__left-block .main-board__button-link:first-of-type {
          margin-right: 20px; }
        .main-board .main-wrapper .main-board__left-block .main-board__button-link:hover {
          background: #00D5C3; }
          .main-board .main-wrapper .main-board__left-block .main-board__button-link:hover i {
            color: white; }
        .main-board .main-wrapper .main-board__left-block .main-board__button-link i {
          margin-left: 15px;
          margin-right: 15px;
          font-size: 30px;
          color: #00D5C3;
          width: 26px;
          transition-duration: 0.3s; }
        .main-board .main-wrapper .main-board__left-block .main-board__button-link .fa-android {
          font-size: 23px; }
        .main-board .main-wrapper .main-board__left-block .main-board__button-link .main-board__button-link_bold {
          font-size: 14px;
          font-weight: 600; }
    .main-board .main-wrapper img {
      margin: auto; }

.services__block-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  .services__block-item .services__item {
    padding: 30px;
    flex: 0 0 32%;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px; }
    .services__block-item .services__item:hover {
      box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2); }
      .services__block-item .services__item:hover .box-icon {
        background: #161C35; }
        .services__block-item .services__item:hover .box-icon > i {
          color: white; }
    .services__block-item .services__item h3 {
      margin: 23px 0;
      color: #161C35;
      text-align: center; }
    .services__block-item .services__item p {
      font-size: 16px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      line-height: 24px;
      margin-bottom: 20px;
      color: #666666; }
    .services__block-item .services__item a {
      display: inline-block;
      width: 150px;
      height: 50px;
      line-height: 50px;
      color: #161C35;
      font-size: 18px;
      border-radius: 0 5px 0 5px;
      border: 1px solid #161C35;
      text-decoration: none;
      transition-duration: 0.3s; }
      .services__block-item .services__item a:hover {
        background: #161C35;
        color: white; }
    .services__block-item .services__item .box-icon {
      border: 1px solid #161C35;
      border-radius: 50%;
      height: 108px;
      width: 108px;
      margin: 0 auto;
      transition-duration: 0.3s; }
      .services__block-item .services__item .box-icon > i {
        font-size: 54px;
        color: #161C35;
        line-height: 108px;
        transition-duration: 0.3s; }

/*# sourceMappingURL=style.css.map */
